USE [master]
GO
/****** Nesnesi: Database [SporcuIstatistikVeritabani] Betik Tarihi: 2.06.2026 15:38:50 ******/
CREATE DATABASE [SporcuIstatistikVeritabani]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SporcuIstatistikVeritabani', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SporcuIstatistikVeritabani.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SporcuIstatistikVeritabani_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SporcuIstatistikVeritabani_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SporcuIstatistikVeritabani].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SporcuIstatistikVeritabani]
GO
/****** Nesnesi: Table [dbo].[Lig] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lig](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[ulke] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Takim] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[sehir] [nvarchar](100) NOT NULL,
	[kurulus_yili] [int] NULL,
	[lig_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Oyuncu] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyuncu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[soyad] [nvarchar](100) NOT NULL,
	[dogum_tarihi] [date] NOT NULL,
	[uyruk] [nvarchar](100) NOT NULL,
	[pozisyon] [nvarchar](50) NOT NULL,
	[takim_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[VW_Oyuncu_Takim_Lig_Bilgisi] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_Oyuncu_Takim_Lig_Bilgisi] AS
SELECT
    o.id AS oyuncu_id,
    o.ad AS oyuncu_ad,
    o.soyad,
    o.dogum_tarihi,
    o.uyruk,
    o.pozisyon,
    t.ad AS takim_ad,
    t.sehir,
    l.ad AS lig_ad,
    l.ulke
FROM Oyuncu o
INNER JOIN Takim t ON o.takim_id = t.id
INNER JOIN Lig l ON t.lig_id = l.id;
GO
/****** Nesnesi: Table [dbo].[Kulup_Kariyeri] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kulup_Kariyeri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[oyuncu_id] [int] NULL,
	[takim_id] [int] NULL,
	[mac_sayisi] [int] NULL,
	[gol] [int] NULL,
	[asist] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[VW_Oyuncu_Kulup_Kariyeri] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_Oyuncu_Kulup_Kariyeri] AS
SELECT
    o.id AS oyuncu_id,
    o.ad AS oyuncu_ad,
    o.soyad,
    t.ad AS takim_ad,
    kk.mac_sayisi,
    kk.gol,
    kk.asist
FROM Kulup_Kariyeri kk
INNER JOIN Oyuncu o ON kk.oyuncu_id = o.id
INNER JOIN Takim t ON kk.takim_id = t.id;
GO
/****** Nesnesi: Table [dbo].[Sezon_Istatistik] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sezon_Istatistik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sezon] [varchar](20) NOT NULL,
	[oyuncu_id] [int] NOT NULL,
	[takim_id] [int] NOT NULL,
	[lig_id] [int] NOT NULL,
	[mac_sayisi] [int] NULL,
	[gol] [int] NULL,
	[asist] [int] NULL,
	[kart_sari] [int] NULL,
	[kart_kirmizi] [int] NULL,
	[dakika] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[VW_Gol_Kralligi] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_Gol_Kralligi]
AS
SELECT
    o.id AS oyuncu_id,
    o.ad,
    o.soyad,
    t.ad AS takim_ad,
    s.sezon,
    s.gol,
    s.asist,
    s.mac_sayisi
FROM Sezon_Istatistik s
INNER JOIN Oyuncu o ON s.oyuncu_id = o.id
INNER JOIN Takim t ON s.takim_id = t.id;
GO
SET IDENTITY_INSERT [dbo].[Kulup_Kariyeri] ON 

INSERT [dbo].[Kulup_Kariyeri] ([id], [oyuncu_id], [takim_id], [mac_sayisi], [gol], [asist]) VALUES (1, 1, 1, 120, 45, 20)
INSERT [dbo].[Kulup_Kariyeri] ([id], [oyuncu_id], [takim_id], [mac_sayisi], [gol], [asist]) VALUES (2, 930, 28, 425, 95, 66)
INSERT [dbo].[Kulup_Kariyeri] ([id], [oyuncu_id], [takim_id], [mac_sayisi], [gol], [asist]) VALUES (3, 929, 28, 93, 41, 18)
GO
SET IDENTITY_INSERT [dbo].[Kulup_Kariyeri] OFF
GO
SET IDENTITY_INSERT [dbo].[Lig] ON 

INSERT [dbo].[Lig] ([id], [ad], [ulke]) VALUES (2, N'1. Lig', N'Türkiye')
INSERT [dbo].[Lig] ([id], [ad], [ulke]) VALUES (7, N'Bundesliga', N'Almanya')
INSERT [dbo].[Lig] ([id], [ad], [ulke]) VALUES (4, N'Championship', N'İngiltere')
SET IDENTITY_INSERT [dbo].[Lig] OFF
GO
SET IDENTITY_INSERT [dbo].[Oyuncu] ON 

INSERT [dbo].[Oyuncu] ([id], [ad], [soyad], [dogum_tarihi], [uyruk], [pozisyon], [takim_id]) VALUES (1, N'Uğurcan', N'Çakır', CAST(N'1996-04-05' AS Date), N'TR', N'Kaleci', 2)
INSERT [dbo].[Oyuncu] ([id], [ad], [soyad], [dogum_tarihi], [uyruk], [pozisyon], [takim_id]) VALUES (2, N'Günay', N'Güvenç', CAST(N'1991-06-25' AS Date), N'TR', N'Kaleci', 1)
INSERT [dbo].[Oyuncu] ([id], [ad], [soyad], [dogum_tarihi], [uyruk], [pozisyon], [takim_id]) VALUES (3, N'Batuhan', N'Şen', CAST(N'1999-02-03' AS Date), N'TR', N'Kaleci', 1)
GO
SET IDENTITY_INSERT [dbo].[Oyuncu] OFF
GO
SET IDENTITY_INSERT [dbo].[Sezon_Istatistik] ON 

INSERT [dbo].[Sezon_Istatistik] ([id], [sezon], [oyuncu_id], [takim_id], [lig_id], [mac_sayisi], [gol], [asist], [kart_sari], [kart_kirmizi], [dakika]) VALUES (1, N'24-25', 1, 1, 1, 34, 10, 5, 3, 0, 2800)
INSERT [dbo].[Sezon_Istatistik] ([id], [sezon], [oyuncu_id], [takim_id], [lig_id], [mac_sayisi], [gol], [asist], [kart_sari], [kart_kirmizi], [dakika]) VALUES (5, N'24-25', 28, 1, 1, 22, 15, 5, 8, 0, 1711)
INSERT [dbo].[Sezon_Istatistik] ([id], [sezon], [oyuncu_id], [takim_id], [lig_id], [mac_sayisi], [gol], [asist], [kart_sari], [kart_kirmizi], [dakika]) VALUES (6, N'24-25', 1749, 5, 1, 33, 21, 2, 6, 0, 2619)
GO
SET IDENTITY_INSERT [dbo].[Sezon_Istatistik] OFF
GO
SET IDENTITY_INSERT [dbo].[Takim] ON 

INSERT [dbo].[Takim] ([id], [ad], [sehir], [kurulus_yili], [lig_id]) VALUES (1, N'Galatasaray', N'İstanbul', 1905, 1)
INSERT [dbo].[Takim] ([id], [ad], [sehir], [kurulus_yili], [lig_id]) VALUES (2, N'Fenerbahçe', N'İstanbul', 1907, 1)
INSERT [dbo].[Takim] ([id], [ad], [sehir], [kurulus_yili], [lig_id]) VALUES (3, N'Beşiktaş', N'İstanbul', 1903, 1)
SET IDENTITY_INSERT [dbo].[Takim] OFF
GO
/****** Nesnesi: Index [IX_KulupKariyeri_Oyuncu] Betik Tarihi: 2.06.2026 15:38:51 ******/
CREATE NONCLUSTERED INDEX [IX_KulupKariyeri_Oyuncu] ON [dbo].[Kulup_Kariyeri]
(
	[oyuncu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Lig_Ad_Ulke] Betik Tarihi: 2.06.2026 15:38:51 ******/
ALTER TABLE [dbo].[Lig] ADD  CONSTRAINT [UQ_Lig_Ad_Ulke] UNIQUE NONCLUSTERED 
(
	[ad] ASC,
	[ulke] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_Oyuncu_AdSoyad] Betik Tarihi: 2.06.2026 15:38:51 ******/
CREATE NONCLUSTERED INDEX [IX_Oyuncu_AdSoyad] ON [dbo].[Oyuncu]
(
	[ad] ASC,
	[soyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_SezonIstatistik_Lig] Betik Tarihi: 2.06.2026 15:38:51 ******/
CREATE NONCLUSTERED INDEX [IX_SezonIstatistik_Lig] ON [dbo].[Sezon_Istatistik]
(
	[lig_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_SezonIstatistik_Oyuncu] Betik Tarihi: 2.06.2026 15:38:51 ******/
CREATE NONCLUSTERED INDEX [IX_SezonIstatistik_Oyuncu] ON [dbo].[Sezon_Istatistik]
(
	[oyuncu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_SezonIstatistik_Takim] Betik Tarihi: 2.06.2026 15:38:51 ******/
CREATE NONCLUSTERED INDEX [IX_SezonIstatistik_Takim] ON [dbo].[Sezon_Istatistik]
(
	[takim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ_Takim_Ad_Lig] Betik Tarihi: 2.06.2026 15:38:51 ******/
ALTER TABLE [dbo].[Takim] ADD  CONSTRAINT [UQ_Takim_Ad_Lig] UNIQUE NONCLUSTERED 
(
	[ad] ASC,
	[lig_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kulup_Kariyeri] ADD  DEFAULT ((0)) FOR [mac_sayisi]
GO
ALTER TABLE [dbo].[Kulup_Kariyeri] ADD  DEFAULT ((0)) FOR [gol]
GO
ALTER TABLE [dbo].[Kulup_Kariyeri] ADD  DEFAULT ((0)) FOR [asist]
GO
ALTER TABLE [dbo].[Sezon_Istatistik] ADD  DEFAULT ((0)) FOR [mac_sayisi]
GO
ALTER TABLE [dbo].[Sezon_Istatistik] ADD  DEFAULT ((0)) FOR [gol]
GO
ALTER TABLE [dbo].[Sezon_Istatistik] ADD  DEFAULT ((0)) FOR [asist]
GO
ALTER TABLE [dbo].[Sezon_Istatistik] ADD  DEFAULT ((0)) FOR [kart_sari]
GO
ALTER TABLE [dbo].[Sezon_Istatistik] ADD  DEFAULT ((0)) FOR [kart_kirmizi]
GO
ALTER TABLE [dbo].[Sezon_Istatistik] ADD  DEFAULT ((0)) FOR [dakika]
GO
ALTER TABLE [dbo].[Kulup_Kariyeri]  WITH CHECK ADD FOREIGN KEY([oyuncu_id])
REFERENCES [dbo].[Oyuncu] ([id])
GO
ALTER TABLE [dbo].[Kulup_Kariyeri]  WITH CHECK ADD FOREIGN KEY([takim_id])
REFERENCES [dbo].[Takim] ([id])
GO
ALTER TABLE [dbo].[Oyuncu]  WITH CHECK ADD FOREIGN KEY([takim_id])
REFERENCES [dbo].[Takim] ([id])
GO
ALTER TABLE [dbo].[Sezon_Istatistik]  WITH CHECK ADD  CONSTRAINT [FK_SezonIstatistik_Lig] FOREIGN KEY([lig_id])
REFERENCES [dbo].[Lig] ([id])
GO
ALTER TABLE [dbo].[Sezon_Istatistik] CHECK CONSTRAINT [FK_SezonIstatistik_Lig]
GO
ALTER TABLE [dbo].[Sezon_Istatistik]  WITH CHECK ADD  CONSTRAINT [FK_SezonIstatistik_Oyuncu] FOREIGN KEY([oyuncu_id])
REFERENCES [dbo].[Oyuncu] ([id])
GO
ALTER TABLE [dbo].[Sezon_Istatistik] CHECK CONSTRAINT [FK_SezonIstatistik_Oyuncu]
GO
ALTER TABLE [dbo].[Sezon_Istatistik]  WITH CHECK ADD  CONSTRAINT [FK_SezonIstatistik_Takim] FOREIGN KEY([takim_id])
REFERENCES [dbo].[Takim] ([id])
GO
ALTER TABLE [dbo].[Sezon_Istatistik] CHECK CONSTRAINT [FK_SezonIstatistik_Takim]
GO
ALTER TABLE [dbo].[Takim]  WITH CHECK ADD FOREIGN KEY([lig_id])
REFERENCES [dbo].[Lig] ([id])
GO
ALTER TABLE [dbo].[Kulup_Kariyeri]  WITH CHECK ADD  CONSTRAINT [CK_KulupKariyeri_Degerler] CHECK  (([mac_sayisi]>=(0) AND [gol]>=(0) AND [asist]>=(0)))
GO
ALTER TABLE [dbo].[Kulup_Kariyeri] CHECK CONSTRAINT [CK_KulupKariyeri_Degerler]
GO
/****** Nesnesi: StoredProcedure [dbo].[SP_Gol_Kralligi_Getir] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Gol_Kralligi_Getir]
AS
BEGIN
    SELECT TOP 10 *
    FROM VW_Gol_Kralligi
    ORDER BY gol DESC;
END;
GO
/****** Nesnesi: StoredProcedure [dbo].[SP_Oyuncu_Kulup_Kariyeri_Getir] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Oyuncu_Kulup_Kariyeri_Getir]
    @ad NVARCHAR(50),
    @soyad NVARCHAR(50)
AS
BEGIN
    SELECT *
    FROM VW_Oyuncu_Kulup_Kariyeri
    WHERE oyuncu_ad = @ad
      AND soyad = @soyad;
END;
GO
/****** Nesnesi: StoredProcedure [dbo].[SP_Takim_Sezon_Istatistik_Getir] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Takim_Sezon_Istatistik_Getir]
    @takim_id INT
AS
BEGIN
    SELECT
        o.ad,
        o.soyad,
        s.sezon,
        s.mac_sayisi,
        s.gol,
        s.asist,
        s.dakika
    FROM Sezon_Istatistik s
    INNER JOIN Oyuncu o ON s.oyuncu_id = o.id
    WHERE s.takim_id = @takim_id
    ORDER BY s.gol DESC;
END;
GO
/****** Nesnesi: StoredProcedure [dbo].[SP_Takima_Gore_Oyuncular] Betik Tarihi: 2.06.2026 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Takima_Gore_Oyuncular]
    @takim_ad NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM VW_Oyuncu_Takim_Lig_Bilgisi
    WHERE takim_ad = @takim_ad;
END;
GO
USE [master]
GO
